.bash_history
.cache
.env*
.git
.idea
.venv
.pytest_cache
.ruff_cache
.mypy_cache
__pycache__
Dockerfile*
docker-compose.*
venv
env*
.dockerignore
docker/
tests/
*.md
.pre-commit-config.yaml
.editorconfig
.github/
